In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np

In [ ]:
data=pd.read_csv('train.csv')

In [ ]:
data.head()

      tripid  additional_fare  duration  ...  drop_lon    fare    label
0  189123628             10.5     834.0  ...   79.8783  270.32  correct
1  189125358             10.5     791.0  ...   79.8923  197.85  correct
2  189125719             10.5    1087.0  ...   79.9146  301.64  correct
3  189127273             10.5     598.0  ...   79.8971   82.30  correct
4  189128020              NaN       NaN  ...   79.9290  358.39  correct

[5 rows x 14 columns]

In [ ]:
pip install haversine

Collecting haversine
  Downloading https://files.pythonhosted.org/packages/72/8e/6df8b563dd6b2961a36cd740b34c00b89142f1b97d92092c133379b2973f/haversine-2.2.0-py2.py3-none-any.whl
Installing collected packages: haversine
Successfully installed haversine-2.2.0

In [ ]:
import haversine as hs

distance = []
for row in data.iterrows():
  record = row[1]
  pick_loc = (record.pick_lat, record.pick_lon)
  drop_loc = (record.drop_lat, record.drop_lon)
  distance.append(hs.haversine(pick_loc, drop_loc))
data['distance'] = pd.Series(distance)

In [ ]:
data=data.dropna(axis=0,how='any')

In [ ]:
data.head()

      tripid  additional_fare  duration  ...     fare    label   distance
0  189123628             10.5     834.0  ...   270.32  correct   5.092777
1  189125358             10.5     791.0  ...   197.85  correct   3.168062
2  189125719             10.5    1087.0  ...   301.64  correct   6.305404
3  189127273             10.5     598.0  ...    82.30  correct   0.861947
5  189129552             10.5    3407.0  ...  1065.02  correct  24.207073

[5 rows x 15 columns]

In [ ]:
from sklearn import preprocessing

In [ ]:
le = preprocessing.LabelEncoder()

In [ ]:
le.fit(['incorrect','correct'])

LabelEncoder()

In [ ]:
data['label']=le.transform(data.label)
data.head()

      tripid  additional_fare  duration  ...     fare  label   distance
0  189123628             10.5     834.0  ...   270.32      0   5.092777
1  189125358             10.5     791.0  ...   197.85      0   3.168062
2  189125719             10.5    1087.0  ...   301.64      0   6.305404
3  189127273             10.5     598.0  ...    82.30      0   0.861947
5  189129552             10.5    3407.0  ...  1065.02      0  24.207073

[5 rows x 15 columns]

In [ ]:
data.columns

Index(['tripid', 'additional_fare', 'duration', 'meter_waiting',
       'meter_waiting_fare', 'meter_waiting_till_pickup', 'pickup_time',
       'drop_time', 'pick_lat', 'pick_lon', 'drop_lat', 'drop_lon', 'fare',
       'label', 'distance'],
      dtype='object')

In [ ]:
data=data.drop(['drop_time','pickup_time','tripid','pickup_time','drop_time'],axis=1)

In [ ]:
data.reset_index(drop=True, inplace=True)

In [ ]:
data.shape

(16968, 12)

In [ ]:
data.head()

   additional_fare  duration  meter_waiting  ...     fare  label   distance
0             10.5     834.0           56.0  ...   270.32      0   5.092777
1             10.5     791.0           47.0  ...   197.85      0   3.168062
2             10.5    1087.0           80.0  ...   301.64      0   6.305404
3             10.5     598.0          271.0  ...    82.30      0   0.861947
4             10.5    3407.0          182.0  ...  1065.02      0  24.207073

[5 rows x 12 columns]

In [ ]:
data.reset_index(drop=True, inplace=True)

In [ ]:
data.head()

   additional_fare  duration  meter_waiting  ...     fare  label   distance
0             10.5     834.0           56.0  ...   270.32      0   5.092777
1             10.5     791.0           47.0  ...   197.85      0   3.168062
2             10.5    1087.0           80.0  ...   301.64      0   6.305404
3             10.5     598.0          271.0  ...    82.30      0   0.861947
4             10.5    3407.0          182.0  ...  1065.02      0  24.207073

[5 rows x 12 columns]

In [ ]:
y=data[['label']].values

In [ ]:
X=data.drop('label',axis=1).values

In [ ]:
X=data.drop('label',axis=1).values

In [ ]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.25)

In [ ]:
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score

In [ ]:
model = XGBClassifier(learning_rate=0.1,n_estimators=90)

In [ ]:
model.fit(X_train,y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_label.py:268: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=90, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [ ]:
prediction = model.predict(X_val)

In [ ]:
accuracy = accuracy_score(y_val,prediction)
print('\naccuracy_score on train dataset : ', accuracy)

accuracy_score on train dataset :  0.9455445544554455

In [ ]:
model = XGBClassifier(learning_rate=0.1,n_estimators=90)

In [ ]:
model.fit(X,y)

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_label.py:268: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=90, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [ ]:
predict_train = model.predict(X)

In [ ]:
accuracy_train = accuracy_score(y,predict_train)
print('\naccuracy_score on train dataset : ', accuracy_train)

accuracy_score on train dataset :  0.9483144743045733

In [ ]:
test=pd.read_csv('test.csv')

In [ ]:
test.head()

      tripid  additional_fare  duration  ...  drop_lat  drop_lon     fare
0  213284604             10.5       924  ...   6.77490   79.8840   289.27
1  213286352             10.5      4249  ...   6.55091   79.9706  1912.70
2  213293973             10.5      1552  ...   6.90539   79.8989   394.00
3  213294622             10.5       462  ...   6.80401   79.9407   154.32
4  213298687             10.5       814  ...   6.98875   79.8914   147.47

[5 rows x 13 columns]

In [ ]:
data_test=test.drop(['drop_time','pickup_time','tripid'],axis=1)

In [ ]:
import haversine as hs

distance = []
for row in data_1.iterrows():
  record = row[1]
  pick_loc = (record.pick_lat, record.pick_lon)
  drop_loc = (record.drop_lat, record.drop_lon)
  distance.append(hs.haversine(pick_loc, drop_loc))
data_test['distance'] = pd.Series(distance)

In [ ]:
data_test.reset_index(drop=True, inplace=True)

In [ ]:
data_test.head()

   additional_fare  duration  meter_waiting  ...  drop_lon     fare   distance
0             10.5       924             42  ...   79.8840   289.27   6.705711
1             10.5      4249             20  ...   79.9706  1912.70  41.558571
2             10.5      1552            255  ...   79.8989   394.00   5.916686
3             10.5       462             16  ...   79.9407   154.32   3.301766
4             10.5       814            392  ...   79.8914   147.47   2.588545

[5 rows x 11 columns]

In [ ]:
predict_test = model.predict(data_test.iloc[:,:].values)

In [ ]:
predict_test.shape

(8576,)

In [ ]:
test.shape

(8576, 13)

In [ ]:
sub=pd.DataFrame(predict_test,columns=['prediction'])

In [ ]:
for i in range(len(sub)):
    if sub['prediction'][i]==0:
        sub['prediction'][i]=1
    else:
        sub['prediction'][i]=0

In [ ]:
sub.head()

   prediction
0           1
1           1
2           1
3           1
4           1

In [ ]:
sub['tripid']=test.tripid

In [ ]:
final_submition=sub[['tripid','prediction']]

In [ ]:
final_submition.head()

      tripid  prediction
0  213284604           1
1  213286352           1
2  213293973           1
3  213294622           1
4  213298687           1

In [ ]:
final_submition.to_csv('final_submition_v5_xboost.csv',index=False)